
header {
    background-color: #2c2c2c;
    opacity: 1;
    font-size: 0.34rem;
    width: 100%;
    height: .79rem;
    line-height: .79rem;
    color: #eee;
    text-align: center;
    position: relative;
    z-index: 2;
}

header .left {
    float: left;
    padding: .2rem 0 0 .27rem;

}

header .point {
    float: right;
    padding: .36rem .26rem 0 0;
}

header .login {
    padding-top: .25rem;
}

/* girl start */

.cover {
    /* height: 2.92rem; */
    background: url(../images/bg3.png) no-repeat;
    width: 6.4rem;
    height: 4.16rem;
    position: relative;
    top: -.79rem;;
    z-index: 1;
}

.cover .bg4 {
    float: right;
    /* margin-right: .69rem; */
    margin-top: 1rem;
    margin-right: .5rem;
    /* clip-path: inset(.5rem 0 .47rem 0); */

}

#six ,#numberInspect {
    font-size: .7267rem;
    font-family: 'Fixedsys';
}

.bigTitle {
    font-size: .4351rem;
}

.cover .span-group {
    float: left;
    font-size: .193rem;
    color: #fff;
    margin-top: 1.09rem;
    margin-left: .54rem;
}

#span-group2 {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#numberInspect {
    margin-left: .2rem;
}

.span-group .logo3{
    /* display: block; */
    /* font-size: .48rem; */
}

/* questions start */


.detail {
    font-size: .193rem;
    margin-top: -.79rem;
}


.first {
    position: relative;
    left: 0.45rem;
    font-size: .193rem;

}

.div-img {
    float: left;
}

.first .cir-word {
    position: absolute;
    top: .2rem;
    color: #eee;
    text-align: center;
    left: .13rem;
}

.first .first-span {

}

.first .first-span-1 {
    font-size: .3rem;
}


.first .first-span-2 {
    text-align: center;
}

.first .right-word {
    float: right;
    margin-right: 1.8rem;
    margin-top: 0.24rem;
    color: #ff5858;
    font-size: .3rem;
}

.second-span-2 {
    color: #707070;
    font-size: .18rem;
}

/* trans line 1st here  */

.trans-img img {
    float: left;
    margin-left: .9rem;
    margin-top: -.4rem;
}

/* 2nd start */
.second .div-img {
    float: right;
    margin-right: .45rem;
    margin-top: -0.5rem; 
}

.second {
    position: relative;
    font-size: .193rem;
}

.second .cir-word {
    position: absolute;
    top: -.24rem;
    color: #eee;
    text-align: center;
    right: .6rem;
}

.second .right-word {
    float: right;
    margin-right: 1.8rem;
    margin-top: -.9rem;
    color: #ff5858;
    font-size: .3rem;
}


.er-span-2 {
    color: #707070;
    font-size: .18rem;
    float: right;
}

.er-span-1 {
    float: right;
}


.sp {
    top: -.4rem;
}

#sp-right {
    margin-top: -.8rem;
}

/* bottom start */

.bottom {
    margin-top: .2rem;
    margin-bottom: -.2rem;
}

.company :first-child {
    color: black;
}

.tel :first-child {
    color: black;
}

.location :first-child {
    color: black;
}

.qrcode {
    text-align: center;

}
.qrcode img {
    display: block;
    width: 2.57rem;
    margin: 0 auto;
    margin-bottom: -.85rem;
}
.qrcode .wechat {
    /* display: inline-block; */
    font-size: .24rem;
    color: #595959;
    /* margin-top: -20px; */
}


.brand {
    font-size: .18rem;
    color: #595959;
    text-align: center;
    margin-bottom: .45rem;
    margin-top: .6rem;


}

/* footer start */

.footer-parent {
    height: 1.06rem;
}

footer {
    /* margin-left: .56rem; */
    /* border: 2px red solid; */
}
footer div {
    float: left;
}

.footer-parent .logo {
    margin-left: .55rem;

}
.bigtitle :first-child {
    display: block;
    margin-top: .38rem;
    margin-left: .1rem;
    font-size: .18rem;
    line-height: .2514rem;
}

.bigtitle :last-child {
    display: block;
    font-size: .18rem;
    margin-left: .1rem;

}


.copyright {
    position: relative;
    background: #2c2c2c;
    height: .44rem;
    color: #fff;
    font-size: .18rem;
    margin-top: .1rem;
}

.copyright div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space:nowrap; 
}

.copyright div :first-child {
    margin-right: .26rem;
}

.isolator {
    width: 100%;
    height: .18rem;
    background-color: rgb(248,248,248);
    border: 0.01rem solid rgb(233, 233, 233);
}
