.header {
    width: 100%;
}

body {
    position: relative;
}
.carousel {
    height: 425px;
    background: url(../images/carousel.png) no-repeat;
}

.aaa {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 425px;
}

.logo {
    height: 80px;
    line-height: 80px;
    background: rgba(5,5,5,0.6);
    text-align: center;
}

.logo :first-child {
    float: left;
    padding: 16px 0 0 16px;
}

.logo :last-child {
    float: right;
}

.logo span {
    font-size: 34px;
    color: #eee;
    font-family: 'HiraginoSansGB';
}

.font {
    position: relative;
}

.font :first-child {
    font-family: "Microsoft Yahei";
    font-size: 3.5rem;
    color: #ffc051;
    display: block;
    width: 500px;
    margin: 0 auto;
}

.font :nth-child(2) {
    font-family: "Microsoft Yahei";
    font-size: 3.5rem;
    color: #ffc051;
    display: block;
    width: 195px;
    margin: 0 auto;
}

.font :last-child {
    font-family: "Microsoft Yahei";
    font-size: 1.92rem;
    color: #ffc051;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ffc051;
    margin: 0 auto;
    /* display: block; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.car-nav {
    position: relative;
    width: 100%;
    height: 3rem;
    background-color: rgb(248,248,248);
    border: 1px solid rgb(233, 233, 233);

}

.car-nav .parent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.car-nav .parent div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: rgb(217, 217, 217);
    border-radius: 50%;
    cursor: pointer;
}

.car-nav .parent :nth-child(2) {
    background-color: #ffc051;
}

/* nav start  */

.nav .nav-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.nav-1 div :first-child {
    display: block;
}

.nav-1 div {
   text-align: center;
}

.nav-1 .jl {
    margin-left: 4.33rem;
}

.nav-1 .yuyt {
    margin-right: 4.33rem;
}

.nav-2 .jl {
    margin-left: 4.33rem;
}

.nav-2 .vc {
    margin-right: 4.33rem;
}

.nav .nav-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2.83rem;

}

.nav-2 div :first-child {
    display: block;
}

.nav-2 div {
   text-align: center;
}

.nav .discription {
    margin-top: 1rem;
    display: block;
}
.isolator {
    width: 100%;
    height: 1.5rem;
    background-color: rgb(248,248,248);
    border: 1px solid rgb(233, 233, 233);
}

.artical >:first-child {
    display: block;
    float: left;
}

.artical >:nth-child(2) {
    display: block;
    float: right;
}

.artical .font-wrapper :nth-child(1) {
    margin-top: 2.5rem;
    display: block;
    font-size: 2.17rem;
    color: #4d4d4d;
}

.artical .font-wrapper :last-child {
    margin-top: 1.25rem;
    display: block;
    font-size: 1.5rem;
    color: #767676;
}


/* live start  */

.lineone {
    display: flex;
    justify-content: space-around;
}

 .live .f_01 div {
    background: url(../images/f_01.png) no-repeat;
    height: 341px;
 }

.f_01 div :first-child {
    display: block;
    padding-top: 291px;
    color: rgb(226, 226, 226);
    font-size: 1.5rem;
}

.f_01 div :last-child {
    display: block;
    color: rgb(138, 138, 138);
    font-size: 1.2rem;
    padding-right: 150px;
} 


.live .f_02 div {
    background: url(../images/f_02.png) no-repeat;
    height: 341px;
 }

.f_02 div :first-child {
    display: block;
    padding-top: 291px;
    color: rgb(226, 226, 226);
    font-size: 1.5rem;
}

.f_02 div :last-child {
    display: block;
    color: rgb(138, 138, 138);
    font-size: 1.2rem;
    padding-right: 150px;
}


/* 2nd line start */

.linetwo {
    display: flex;
    justify-content: space-around;
}

 .live .f_03 div {
    background: url(../images/f_03.png) no-repeat;
    height: 341px;
 }

.f_03 div :first-child {
    display: block;
    padding-top: 291px;
    color: rgb(226, 226, 226);
    font-size: 1.5rem;
}

.f_03 div :last-child {
    display: block;
    color: rgb(138, 138, 138);
    font-size: 1.2rem;
    padding-right: 150px;
} 


.live .f_04 div {
    background: url(../images/f_04.png) no-repeat;
    height: 341px;
 }

.f_04 div :first-child {
    display: block;
    padding-top: 291px;
    color: rgb(226, 226, 226);
    font-size: 1.5rem;
}

.f_04 div :last-child {
    display: block;
    color: rgb(138, 138, 138);
    font-size: 1.2rem;
    padding-right: 150px;
}



.linethree {
    display: flex;
    justify-content: space-around;
}

 .live .f_05 div {
    background: url(../images/f_05.png) no-repeat;
    height: 341px;
 }

.f_05 div :first-child {
    display: block;
    padding-top: 291px;
    color: rgb(226, 226, 226);
    font-size: 1.5rem;
}

.f_05 div :last-child {
    display: block;
    color: rgb(138, 138, 138);
    font-size: 1.2rem;
    padding-right: 150px;
} 


.live .f_06 div {
    background: url(../images/f_06.png) no-repeat;
    height: 341px;
 }

.f_06 div :first-child {
    display: block;
    padding-top: 291px;
    color: rgb(226, 226, 226);
    font-size: 1.5rem;
}

.f_06 div :last-child {
    display: block;
    color: rgb(138, 138, 138);
    font-size: 1.2rem;
    padding-right: 150px;
}


.reporta {
    position: relative;
    background: url(../images/shafa.png) no-repeat;
    width: 53rem;
    height: 33.33rem;
}

.report1 div {
    background: rgba(0,0,0,0.5);
    height: 50px;
    width: 600px;
    position: absolute;
}
.report1 {
    position: absolute;
    left: 10px;
    bottom: 30px;
    text-align: center;
}

.report1 :nth-child(2) {
    position: relative;
    font-size:2rem;
    color: #e2e2e2;
    background:#ffc051;
    border-radius: 2px;
}
.report1 :nth-child(3) {
    position: relative;

    font-size: 2.5rem;
    color: #e2e2e2;
}


.reportb {
    position: relative;
    background: url(../images/nanren.png) no-repeat;
    width: 53rem;
    height: 33.33rem;
}

.report2 div {
    background: rgba(0,0,0,0.5);
    height: 50px;
    width: 600px;
    position: absolute;
}
.report2 {
    position: absolute;
    left: 10px;
    bottom: 30px;
    text-align: center;
}


.report2 :nth-child(2) {
    position: relative;
    font-size: 2.5rem;
    color: #e2e2e2;
}

/* footer start */
.footer-parent {
    height: 8.83rem;
}

footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
footer div {
    float: left;
}



.bigtitle :first-child {
    display: block;
    margin-top: 39px;
    font-size: 1.5rem;
}

.bigtitle :last-child {
    font-size: 1.5rem;
}

.copyright {
    background: #2c2c2c;
    height: 3.67rem;
    color: #fff;
    line-height: 3.67rem;
    text-align: center;
    font-size: 1.5rem;
}

