* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

html {
    font-size: 12px;
    line-height: 1.2;
    background-color: #fff;
    min-width: 640px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

