body {
    position: relative;
}
header {
    background-color: #2c2c2c;
    opacity: 0.8;
    font-size: 0.34rem;
    width: 100%;
    height: .79rem;
    line-height: .79rem;
    color: #eee;
    text-align: center;
}

header .left {
    float: left;
    padding: .2rem 0 0 .27rem;

}

header .point {
    float: right;
    padding: .36rem .26rem 0 0;
}

header .login {
    padding-top: .25rem;
}

/* girl start */

.cover {
    /* height: 2.92rem; */
    background: url(../images/bg.png) repeat-x;
}


.cover img {
    /* width: 1.78rem; */
    display: block;
    margin: 0 auto;
    padding-top: 1.78rem;
}
/* .girl {
    float: left;
    padding: .12rem 0 0 .42rem;
} */

/* .span-group {
    float: right;
    font-size:0.3967rem;
    padding: 1rem .63rem 0 0;
    color: #eee;
}

.span-group :first-child {
    display: block;
    margin-bottom: .1329rem;
}

.span-group :last-child {
    display: block;
    float: left;
} */

.div-name {
    text-align: center;
    font-size: .36rem;
    color: #5f5f5f;
    margin-top: .2rem;
}

.notice {
    margin: .16rem 0 0 .84rem;

}

.notice img {
    display: block;
    float: left;
}
.notice span {
    font-size: .21rem;
    color: #ffa751;
    display: inline-block;
    float: left;
}

.step {
    /* border: #ff5959 solid 1px; */
    font-size: .2639rem;
    color: #5f5f5f;
    position: relative;
    margin-top: .55rem;
    margin-bottom: .6rem;
}

.step-son {
    text-align: center;
}

.step-son :first-child {
    color: #ffa751;
}



.inputall {
    width: 100%;
    margin-top: .17rem;
}

.inputall ::-webkit-input-placeholder{
    color: #5f5f5f;
    font-size: .28rem;
}

.inputall input {
    /* background-color: #f5f5f5; */
    border-radius: .04rem;
    font-size: .28rem;
    line-height: .78rem;
}

.mobile {
    display: block;
    width: 4.51rem;
    height: 0.78rem;
    border: 0.01rem solid #c7c7c7;
    margin: 0 auto;
    padding-left: .16rem;
    margin-bottom: .21rem;
}

.password {
    display: block;
    width: 4.51rem;
    height: 0.78rem;
    margin: 0 auto;
    margin-top: .17rem;
    border: 0.01rem solid #c7c7c7;
    padding-left: .16rem;
}

.code {
    width: 4.51rem;
    height: 0.78rem;
    margin: 0 auto;
    margin-top: .17rem;

}

.code input {
    height: 0.78rem;
    float: left;
    width: 3.02rem;
    border: 0.01rem solid #c7c7c7;
    padding-left: .16rem;


}

.code span {
    font-size:.28rem;
    color: #595959;
    background-color: #b2b2b2;
    padding: .22rem .36rem .22rem .36rem;
    float: right;
}

.notice2 {
    width: 100%;
    /* border: 2px solid rgb(47, 155, 88); */
    margin-top: .2rem;
}
.notice2 .wrapper {
    width: 4.51rem;
    margin: 0 auto;
    /* border: 2px red solid; */
}
.wrapper input {
    float: left;
    margin-top: .08rem;
}

.wrapper .rememberps {
    float: left;
}

.wrapper .forgetps {
    float: right;
}
.notice2 span {
    font-size:.21rem;
    color: #6c6c6c;
}

.register {
    width: 4.51rem;
    font-size: .34rem;
    margin: 0 auto;
    /* border: 2px greenyellow dashed; */
    margin-top: .64rem;
    white-space: nowrap;
    text-align: center;
}

/* .register :first-child {
    float: left;
    color: #ffa751;
    padding: .2rem .7rem .2rem .7rem;
    border:  #ffa751 solid .01rem;
    border-radius: 0.02rem;

} */

.register :first-child {
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    color: #fff;
    padding: .2rem .7rem .2rem .7rem;
    background-color: #ffa751;
    border-radius: 0.05rem;
    margin-top: .14rem;
}

.line {
    width: 4.64rem;
    margin: 0 auto;
    margin-top: .17rem;
    /* border: 2px rgb(201, 151, 60) dashed; */
    margin-top: .26rem;
    font-size: .21rem;
    color: #5b5b5b;
    vertical-align: middle;
    line-height: .6rem;

}

.line :first-child {
    float: left;
    margin-top: .3rem;
}

.line :last-child {
    float: right;
    margin-top: .3rem;

}


/* .directlog {
    display: flex;
    width: 4.51rem;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: .50rem;
}

.directlog img {
    display: block;
} */


.div-workshop {
    font-size: .28rem;
    color: #5b5b5b;
    text-align: center;
    margin-top: 1.81rem;
}