


ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

.main {
	width: 980px;
	background: url(images/background.png) no-repeat center;
	/*border:1px green solid;*/
	margin: 0 auto;
}

.header {
	position: relative;
	width: 980px;
	height: 90px;
	background-color: white;
}

.logo {
	position: absolute;
	left: 20px;
	top: 20px;
}

.line {
	height: 4px;
	width: 976px;
	border: 1px red solid;
	background-color: #edbec3;
}
nav {
	height: 36px;
	/* background: -webkit-linear-gradient(top, #8ac6e2, #035985); */
	background: url(images/blue.png);
}
.ul-1 {
	margin-top: -1px;
	padding-left: 85px;
}
.ul-1 li {
	float: left;
	line-height: 30px;
	text-align: center;
}

.ul-1 li a {
	box-sizing: border-box;
	width: 88px;
	display: block;
	font-size: 12px;
	color: #fff;
}

.ul-1 a:hover {
	/* background:-webkit-linear-gradient(top, #e9abb1, #bb2939); */
	background: url(images/red.png);
	border: 1px solid red;
	border-top: 0;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.main-1 {
	height: 1000px;
	width: 1000px;
}

/*轮播图*/

.container {
	position: relative;
	background-color: #fff;
	padding: 4px;
	/* width: 590px; */
}
button {
	height: 50px;
	background: white;
	opacity: 0.5;
	outline: none;
}
.hua-imgs {
	display: none;
}
.active {
	display: block;
}
.vertical-center {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	cursor: pointer;
	color:white;
	font-weight: bold;
	padding: 16px;
	transition:0.6s ease;
	border-radius: 0 6px 6px 0;
}
.horizon-center {
	position: absolute;
	left: 90%;
	transform: translateX(-50%);
}
#id-btn-next {
	right: 0px;
	border-radius: 6px 0 0 6px;
}
#id-btn-pre:hover {
	background-color: rgba(0,0,0,0.7);
}
#id-btn-next:hover {
	background-color: rgba(0,0,0,0.7);
}
.hua-indicators {
	position: absolute;
	bottom: 10px;
	right: 10px;
	margin: 0 auto;
}
.hua-indi {
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	border-radius: 20%;
	background: url(images/btn-white.png);
	opacity: 0.7;
	cursor: pointer;
}
.white {
	background: url(images/btn-blue.png);
	color: #fff;
}

.hua-indicators span {
	display: inline-block;
	position: relative;
	top: -3px;
	left: 3px;
	font-size: 10px;
	margin: 0 auto;
}

/* 淡出动画 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
 
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




.carousel .container {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 3px;
}

.aside-1 {
	float: left;
	background-color: #fff;
	margin-left: 5px;
	margin-top: 11px;
	/* padding: 10px; */
	border-radius: 3px;
}

.aside-1 .project {
	line-height: 30px;
	height: 30px;
}

.aside-1-title {
	background-color: #303338;
	color: #fff;
	border-radius: 4px;
	padding: 6px;
	margin: 4px;
}

.aside-1-title span,a {
	font-size: 14px;
}

.more {
	float: right;
}

.project {
	padding: 6px;
	border-bottom: 1px dashed #303338;
	padding-right: 22px;
}

.project span,a {
	font-size: 12px;
	font-weight: 300;
}

.arrow-right {
	float: right;
}

.aside-bj {
	border: none;
}

/* info */
.laba {
	float: left;
	margin-top: 3px;
}

.info span {
	float: left;
	font-size: 12px;
	margin-top: 4px;
}

.info {
	float: left;
	background-color: #fff;
	border-radius: 3px;
	padding: 8px;
	margin-top: 10px;
	margin-left: 10px;
	padding-right: 464px;
}

.info .info-container {
	float: left;
}

.info-container a {
	padding-left: 10px;
}

.span-1,.span-2,.span-3,.span-4,.span-5 {
	position: relative;
	top: -13px;
}

/* main-2 */

.main-2 {
	float: left;
	box-sizing: border-box;
	/* display: flex; */
	/* width: 666px; */
}

.about-us,.back-up,.crew-center,.storage-center {
	box-sizing: border-box;
	float: left;
	/* justify-content: space-between; */
	/* border: 1px red solid; */
	background-color: #fff;
	border-radius: 3px;
	/* margin: 4px; */
}

.main-2-title {
	font-size: 12px;
	padding: 4px;
}

.about-us {
	width: 278px;
	height: 268px;
	background-color: #fff;
	margin: 10px 8px 9px 10px;
	padding: 0 5px 0 5px;
}
.back-up {
	margin: 10px 9px 9px 0;
}
.crew-center {
	margin: 10px 9px 9px 0;
}
.storage-center {
	margin: 10px 10px 9px 0;
}
.back-up,.crew-center,.storage-center {
	width: 219px;
	height: 266px;
}
.about-us-title {
	background-color: #303338;
	color: #fff;
	border-radius: 4px;
	padding: 4px;
	margin: 2px;
}

.main-2 p {
	font-size: 12px;
	color: #303338;	
	padding-right: 5px;
	padding-left: 5px;
}

.main-2 a {
	float: right;
	padding-right: 5px;
}

.image-about {
	margin-top: 7px;
}

.promise,.center,.express {
	padding: 5px;
}


/* main-3*/

.main-3 {
	float: left;
	/* display: flex; */
}

.main-3-latest,.main-3-contact {
	/* justify-content: space-between; */
	/* border: #bb2939 solid 1px; */
	box-sizing: border-box;
	float: left;
	background-color: #fff;
	border-radius: 3px;
	margin: 3px;
	padding: 3px;
	margin-left: 8px;
}

.main-3-latest-title {
	background-color: #303338;
	color: #fff;
	border-radius: 4px;
	padding: 4px;
	margin: 7px;
}

.news-detail {
	border-bottom: 1px dashed #303338;
	padding: 5px;
	font-size: 12px;
	color: #303338;	
}

.main-3-latest {
	width: 733px;
}
.main-3-contact {
	width: 220px;
}

.main-3-contact .item {
	border: #b6b6b6 1px solid;
	margin: 5px;	
	border-radius: 3px;
	padding: 5px;
	padding-right: 85px;
}

.tele,.mail,.location{
	display: block;
}

.main-3-latest .span-date {
	float: right;
}

.main-3-hot {
	position: relative;
	top: -9px;
}

.main-3-hot-2 {
	position: relative;
	top: -5px;
}

.main-3-latest :last-child {
	border-bottom: none;
}

/* footer */


/* footer span {
	float: left;
	display: block;
	width: 300px;
	margin-left: 369px;
	font-size: 12px;
	color:#fff;
}

.copyright	{
	margin-top: 35px;
}
.tech {
	margin-left: 390px;
} */

.footer {
    width: 350px;
    font-size: 12px;
    color: #fff;
	margin: 0 auto;
	text-align: center;
}

.footer span {
	display: inline-block;
}

.copyright	{
	padding: 30px 0 0 0;
}
.tech {
	padding: 0 0 20px 0;
}


